
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
}

.container {
  text-align: center;
  text-decoration: underline;
  font-size: 32px;
  font-family: Arial;
  letter-spacing: 5px;
  animation: colorRotate 6s linear 0s infinite;
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}