
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.bg-container {
  background-image: url('../images/background.webp');
  position: fixed;
  z-index: -1;
  inset: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.5);
}

.container {
  text-align: center;
  text-decoration: underline;
  font-size: 32px;
  font-family: Arial;
  letter-spacing: 5px;
  animation: colorRotate 6s linear 0s infinite;
}

.time {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-family: Arial;
  letter-spacing: 5px;
  animation: colorRotate 6s linear 0s infinite;
}

.time:hover {
  animation: colorRotate 6s linear 0s infinite,
  fontlarge 0.5s ease-in-out 0s 1 forwards;
}

.time:not(:hover) {
  animation: colorRotate 6s linear 0s infinite,
  fontsmall 0.5s ease-in-out 0s 1 forwards;
}

.pfp {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-color: #ffffff;
  border-width: 5px;
  border-style: solid;
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}

@keyframes fontlarge {
  from {
    font-size: 32px;
  }
  to {
    font-size: 36px;
  }
}

@keyframes fontsmall {
  from {
    font-size: 36px;
  }
  to {
    font-size: 32px;
  }
}