
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.bg-container {
  background-image: url('../images/background.webp');
  position: fixed;
  z-index: -1;
  inset: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 34, 34, 0.5);
}

.container {
  text-decoration: underline;
  position: fixed;
  top: 5%;
  font-size: 2rem;
  font-family: Arial;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 1rem;
  animation: colorRotate 6s linear 0s infinite;
}

.time {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-family: Arial;
  letter-spacing: 5px;
  animation: colorRotate 6s linear infinite;
}

.time:hover {
  animation: colorRotate 6s linear 0s infinite,
  fontlarge 0.5s ease-in-out 0s 1 forwards;
}

.time:not(:hover) {
  animation: colorRotate 6s linear 0s infinite,
  fontsmall 0.5s ease-in-out 0s 1 forwards;
}

.pfp {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 0.25rem solid rgb(255, 228, 107);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pfp img {
  width:100%;
  height:100%;
  object-fit:cover;
  display: block;
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}

@keyframes fontlarge {
  from {
    font-size: 32px;
  }
  to {
    font-size: 36px;
  }
}

@keyframes fontsmall {
  from {
    font-size: 36px;
  }
  to {
    font-size: 32px;
  }
}